/* ----------------------------- Estedad FaNum ----------------------------- */

@font-face {
	font-family: EstedadFD;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: EstedadFD;
	src: url('../Fonts/Estedad-FD/Estedad-FD-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: EstedadFD;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: EstedadFD;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Light.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: EstedadFD;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: EstedadFD;
	src: url('../Fonts/Estedad-FD/Estedad-FD-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: EstedadFD;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: EstedadFD;
	src: url('../Fonts/Estedad-FD/Estedad-FD-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: EstedadFD;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
  }

/* ----------------------------- Estedad ----------------------------- */
@font-face {
	font-family: Estedad;
	src: url('../Fonts/Estedad-FD/Estedad-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: Estedad;
	src: url('../Fonts/Estedad-FD/Estedad-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: Estedad;
	src: url('../Fonts/Estedad-FD/Estedad-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: Estedad;
	src: url('../Fonts/Estedad-FD/Estedad-Light.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: Estedad;
	src: url('../Fonts/Estedad-FD/Estedad-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: Estedad;
	src: url('../Fonts/Estedad-FD/Estedad-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: Estedad;
	src: url('../Fonts/Estedad-FD/Estedad-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: Estedad;
	font-weight: 800;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: Estedad;
	src: url('../Fonts/Estedad-FD/Estedad-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
  }