/* ----------------------------- Estedad FaNum ----------------------------- */
@font-face {
	font-family: EstedadFD;
	font-style: normal;
	font-weight: 900;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
	font-family: EstedadFD;
	font-style: normal;
	font-weight: 800;
	src: url('../Fonts/Estedad-FD/Estedad-FD-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
	font-family: EstedadFD;
	font-style: normal;
	font-weight: bold;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
	font-family: EstedadFD;
	font-style: normal;
	font-weight: 600;
	src: url('../Fonts/Estedad-FD/Estedad-FD-SemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
	font-family: EstedadFD;
	font-style: normal;
	font-weight: 500;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
	font-family: EstedadFD;
	font-style: normal;
	font-weight: normal;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
	font-family: EstedadFD;
	font-style: normal;
	font-weight: 300;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
	font-family: EstedadFD;
	font-style: normal;
	font-weight: 200;
	src: url('../Fonts/Estedad-FD/Estedad-FD-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
	font-family: EstedadFD;
	font-style: normal;
	font-weight: 100;
	src: url('../Fonts/Estedad-FD/Estedad-FD-ExtraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
}

/* ----------------------------- Estedad ----------------------------- */
@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 900;
	src: url('../Fonts/Estedad/Estedad-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

}
@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 800;
	src: url('../Fonts/Estedad/Estedad-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

}
@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: bold;
	src: url('../Fonts/Estedad/Estedad-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

}
@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 600;
	src: url('../Fonts/Estedad/Estedad-SemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

}
@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 500;
	src: url('../Fonts/Estedad/Estedad-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

}
@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: normal;
	src: url('../Fonts/Estedad/Estedad-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

}
@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 300;
	src: url('../Fonts/Estedad/Estedad-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/

}
@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 200;
	src: url('../Fonts/Estedad/Estedad-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 100;
	src: url('../Fonts/Estedad/Estedad-ExtraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
}

